.projects .subtitle {
  margin-top: 64px;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 64px;
}

.projects__container__item {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 16px;
  padding: 32px;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects__container__item p {
  font-size: 16px;
}

.item__header__title {
  margin-bottom: 16px;
}

.item__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.projects__container__item__main {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 16px;
}
.item__main__list__container {
  width: 50%;
}

.item__main__list__itens {
  margin-left: 16px;
  list-style-type: square;
  text-transform: uppercase;
  font-size: 16px;
}

.item__container__links {
  display: flex;
  width: 50%;
}

.item__link {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  padding: 8px;
  width: 100%;
  margin: 0 8px;
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.item__link:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}
