.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.logo {
  width: 50px;
}

.nav > ul {
  display: flex;
  gap: 0 25px;
  font-weight: 600;
  cursor: pointer;
}

.nav > ul > li > a:hover {
  color: var(--secondary-color);
}

.dropdown {
  position: absolute;
  animation: opacity 0.3s alternate;
  background-color: var(--primary-color);
  border: 1px solid var(--background-color);
  border-radius: 5px;
  overflow: hidden;
}

.dropdown li {
  padding: 5px 10px;
  border-bottom: 1px solid var(--background-color);
  font-weight: 400;
}

.dropdown li:hover > a {
  color: var(--secondary-color);
}

.dropdown li a {
  color: var(--text-color);
}

.btn-menu {
  font-size: 48px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.btn-menu:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .btn-menu {
    font-size: 48px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }

  .nav > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 320px) {
  .header,
  .home,
  .footer,
  .about {
    padding: 0 20px;
  }
}
