.footer > ul {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.footer > ul > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 50px 0;
}

.footer > ul > li > a:hover {
  color: var(--secondary-color);
}

.footer > ul > li > a > svg {
  font-size: 32px;
  color: var(--primary-color);
}

.footer > p {
  margin: 25px;
  text-align: center;
}

.custom-buttom,
.copy-email {
  text-align: center;
  width: 250px;
  margin: 15px 0;
  padding: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.custom-buttom:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

.copy-email {
  transition: 0.3s;
  background-color: var(--hover-color);
}
